html {
    box-sizing: border-box;
}

body {
    color: #0a0a23;
    font-family: sans-serif;
}

section {
    border: 2px solid #d0d0d5;
    margin: 0 auto;
    max-width: 40rem;
}

h1 {
    margin: 0 auto;
    max-width: 37.25rem;
    padding: 1.5rem 1.25rem;
}

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

/* Seleciona o primeiro elemento do tipo solicitado: */
h1 .flex span:first-of-type {
    font-size: 0.7em;
}

/* Seleciona o último elemento do tipo solicitado: */
h1 .flex span:last-of-type {
    font-size: 1.2em;
}

#anos {
    background-color: #0a0a23;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin: 0 -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Seleciona os elementos 'span' que tenham uma 'class' */
#anos span[class] {
    font-weight: bold;
    text-align: right;
    width: 4.5rem;
}

.envolve-tabela {
    padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
    border: 0;
    border-collapse: collapse;
    margin-top: 3rem;
    position: relative;
    width: 100%;
}

table caption {
    color: #356eaf;
    font-size: 1.3em;
    font-weight: normal;
    left: 0.5rem;
    position: absolute;
    top: -2.25rem;
}

/* Ocultando propriedades implementadas para o uso de leitores de tela: 
Para garantir que essas propriedades sejam sempre aplicadas, 
independentemente da ordem ou da especificidade, utilizamos '!important'*/
span[class~="sr-apenas"] {
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    /* Define as porções visíveis de um elemento: */
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    /* Evita que o conteúdo exceda os limites: */
    overflow: hidden !important;
    white-space: nowrap !important;
    /* Retira os elementos ocultos do fluxo do documento: */
    position: absolute !important;
    padding: 0 !important;
    margin: -1px !important;
}

tbody th {
    width: calc(100% - 12rem);
}

tbody td {
    max-width: 4rem;
    min-width: 4rem;
    width: 100vw;
}

/* Seleciona os elementos 'tr' com a classe 'total': */
tr[class="total"] {
    border-bottom: 4px double #0a0a23;
    font-weight: bold;
}

tr[class="total"] th {
    padding: 0.5rem 0 0.25rem 0.5rem;
    text-align: left;
}

tr.total td {
    text-align: right;
    padding: 0 0.25rem;
}

/* Seleciona o elemento de número N: */
tr.total td:nth-of-type(3) {
    padding: 0.5rem;
}

tr.total:hover {
    background-color: #99c9ff;
}

td.atual {
    font-style: italic;
}

tr.dados {
    background: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

tr.dados th {
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    text-align: left;
}

tr.dados th .descricao {
    display: block;
    font-style: italic;
    font-weight: normal;
    margin-right: -13.5rem;
    padding: 1rem 0 0.75rem;
}

tr.dados td {
    padding: 0.3rem 0.25rem 0;
    text-align: right;
    vertical-align: top;
}

tr.dados td:last-of-type {
    padding-right: 0.5rem;
}