html {
    box-sizing: border-box;
}

body {
    color: #0a0a23;
    font-family: sans-serif;
}

section {
    border: 2px solid #d0d0d5;
    margin: 0 auto;
    max-width: 40rem;
}

h1 {
    margin: 0 auto;
    max-width: 37.25rem;
    padding: 1.5rem 1.25rem;
}

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

/* Seleciona o primeiro elemento do tipo solicitado: */
h1 .flex span:first-of-type {
    font-size: 0.7em;
}

/* Seleciona o último elemento do tipo solicitado: */
h1 .flex span:last-of-type {
    font-size: 1.2em;
}

#anos {
    background-color: #0a0a23;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin: 0 -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Seleciona os elementos 'span' que tenham uma 'class' */
#anos span[class] {
    font-weight: bold;
    text-align: right;
    width: 4.5rem;
}

.envolve-tabela {
    padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
    border: 0;
    border-collapse: collapse;
    margin-top: 3rem;
    position: relative;
    width: 100%;
}

/* Ocultando propriedades implementadas para o uso de leitores de tela: 
Para garantir que essas propriedades sejam sempre aplicadas, 
independentemente da ordem ou da especificidade, utilizamos '!important'*/
span[class~="sr-apenas"] {
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    /* Define as porções visíveis de um elemento: */
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    /* Evita que o conteúdo exceda os limites: */
    overflow: hidden !important;
    white-space: nowrap !important;
    /* Retira os elementos ocultos do fluxo do documento: */
    position: absolute !important;
    padding: 0 !important;
    margin: -1px !important;
}

/* Seleciona os elementos 'span' que NÃO possuem a classe 'sr.apenas': */
span {
    font-weight: normal;
}